<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">Nom de l'appareil</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="form-group">
          <label for="status">Etat: </label>
          <select id="status" name="status" ngModel [ngModel]="defaultStatus">
            <option value="on">Allumé</option>
            <option value="off">Eteint</option>
          </select>
        </div>
        <div class="form-group">
          <label for="icon">Icon</label>
          <input type="text" id="icon" class="form-control" name="icon" ngModel required>
        </div>
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="f.invalid">Enregistrer</button>
      </form>
    </div>
  </div>
</div>

