<div class="col-lg-12 ">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="firstName">Prenoms</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName" />
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" />
    </div>
    <div class="form-group">
      <label for="email"> Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="drinkPreference">Boissons</label>
      <select id="drinkPreference" class="form-control" formControlName="drinkPreference">
        <option value="coca">Coca</option>
        <option value="orangina">Orangina</option>
      </select>
    </div>
    <div formArrayName="hobbies" class="pb-4">
      <h6>Vos Hobbies</h6>
      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
      <button type="button" class="btn btn-sm btn-success" (click)="onAddHobby()">Ajouter un Hobby</button>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Soumettre</button>
  </form>
</div>
