<div class="container-fluid">
  <h4>
    <i class="{{icon}} fa-5x"></i><br>{{name}}
  </h4>
  <hr>
  <div class="form-group">
    <label>Status:
          <span>{{status}}</span>
    </label><br>
    <label>Dernière Utilisation:
      <span>{{lastUsed|date:'dd/MM/yyyy'}}</span>
    </label>
  </div>
</div>
<div class="">
  <a routerLink="/appareils" class="btn btn-default">
    <i class="fa fa-chevron-left"></i>
    Retour à la liste
  </a>
</div>
