<div class="col-12">
  <h3>Authentification</h3>
  <button class="btn btn-success" (click)="onSignIn()" *ngIf="!authStatus">
    Se connecter
  </button>
  <div class="alert alert-success" *ngIf="authStatus">Vous êtes connecté!!</div>
  <button class="btn btn-outline-danger" (click)="onSignOut()" *ngIf="authStatus">
    Deconnexion
  </button>
</div>
