<nav class="navbar  navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="fa fa-graduation-cap"></i> Formation Angular</a>
    <ul class="nav justify-content-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="auth">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="appareils">Appareils</a>
      </li>
      <!--  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="edit">Nouvel appareil</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="users">Utilisateurs</a>
      </li>
    </ul>
  </div>
</nav>
