<div class="col-12" style="width: 100%;">
  <app-menu></app-menu>
  <div class="navbar-right">
    <!--<p>Vous êtes connecté depuis {{second}} seconds !</p>-->
  </div>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
