<div class="col-xs-12">
        <p class="small">Mise à jour: {{getLastUpdate()|async|date:"dd/MM/yyyy"}}</p>
        <h4>Mes appareils</h4>
        <a class="" routerLink="/edit">Nouvel appareil</a>
        <ul class="list-group">
                <app-appareils *ngFor="let appareil of appareils let i = index" [appareilName]="appareil.getName()"
                        [appareilIcon]="appareil.getIcon()" [appareilStatus]="appareil.getStatus()"
                        [appareilStatusColor]="appareil.getStatusColor()" [lastUsed]="appareil.getLastUsed()"
                        [indexOfAppareil]="i" [isSwitchOn]="appareil.isSwitchOn()" style="margin: 3px;">
                </app-appareils>
        </ul>
        <button class="btn btn-sm btn-success" [disabled]="!isAuth" style="margin: 3px;" (click)="onAllumer()">Tout
                Allumer
        </button>

        <button class="btn btn-sm btn-danger" [disabled]="!isAuth" style="margin: 3px;" (click)="onEteindre()">Tout
                Eteindre
        </button>
        <button class="btn btn-sm btn-outline-dark" style="margin: 3px;" (click)="ngOnInit()">Refresh</button>
        <button class="btn btn-sm btn-primary" style="margin: 3px;" (click)="onSave()">Sauvegarder</button>
</div>
