<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus ==='on',
                'list-group-item-danger': appareilStatus === 'off'}">

  <i class="{{appareilIcon}} fa-3x"></i>&nbsp;&nbsp;
  <button [ngClass]="{'btn':true,
                      'btn-sm': true,
                      'small': true,
                      'btn-success':!isSwitchOn,
                      'btn-danger':isSwitchOn}"
          (click)="control(indexOfAppareil)">
    <i class="fa fa-power-off" aria-hidden="true"> </i>
  </button>
  <h6 [ngStyle]="{color:appareilStatusColor}">
      {{appareilName}}
      -- Status: {{appareilStatus}}
      -- le {{lastUsed|date:'dd/MM/yyyy'}}
  </h6>
<!--  <input type="text" class="form-control" [(ngModel)]="appareilName">-->
  <a routerLink="/appareil/{{id}}">Détails</a>
</li>

