<div class="container-fluid">
  <h1 class="text-center">Erreur <br> 404
    <p class="small">
      Page introuvable
    </p>
  </h1>
  <a routerLink="/appareils">Retour à la page d'accueil</a>
</div>

